.nowPlayingCoverArt {
  height: 100%;
  background-color: white;
}

.audioPlayer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.player {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.rhap_container {
  background-color: rgb(225, 255, 0) !important;
  padding: 0.1rem 0.2rem;
  margin: 0px;
  font-size: 0.85rem;
}

.rhap_progress-bar {
  background-color: #444;
  height: 4px;
  padding: 0px;
  margin: 0px;
}

.rhap_time {
  font-size: 0.75rem;
  color: rgb(255, 0, 0);
  font-family: monospace;
}

.rhap_controls-section,
.rhap_progress-section,
.rhap_volume-controls {
  padding: 0.25rem 0;
  margin: 0px;
  gap: 0.1rem;
  align-items: center;
  justify-content: baseline;
  height: 0.75rem;
}

.rhap_main-controls-button,
.rhap_volume-button {
  font-size: 1rem;
  padding: 0.25rem;
  padding: 0px;
  margin: 0px;
}
