.releaseCard {
  display: flex;
  box-sizing: border-box;
  // background-color: rgb(254, 244, 244);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.4rem;
  :hover {
    cursor: pointer;
  }
}

$releaseCardSize: 9rem;

.releaseCardImage {
  height: $releaseCardSize;
  width: $releaseCardSize;
  margin: 2px;
}

.releaseCardTitle {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-family: "Sarina";
}

.releaseCardCatalogNumber {
  font-size: 12px;
  font-family: "Droid Sans";
}

.releaseCardDate {
  font-size: 08px;
  font-family: "Sarina";
  color: rgb(46, 49, 51);
}

.releaseCard--highlight {
  //border: 2px solid rgba(255, 209, 102, 0.9);
  //box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  //transform: translateY(-10px);
  //background-color: white;
}
