.releasesBanner {
}

.releaseCardBanner {
  //mix-blend-mode: difference;
  :hover {
    cursor: pointer;
  }
}

.releaseCardBannerImage {
  height: 100px;
  //mix-blend-mode: difference;
  margin-bottom: -4px;
  :hover {
    cursor: pointer;
  }
}

.releaseCardBannerTitle {
  font-size: 10px;
}
