.releaseCard {
  display:flex;
  box-sizing: border-box;
  // background-color: rgb(254, 244, 244);
  flex-direction: column;
  align-items:center;
  justify-content: center;
  align-content: center;
  padding:0.4rem;
  :hover {
    cursor: pointer;
  }
}

.releaseCardImage {
  height: 100px;
  margin: 2px;
}

.releaseCardTitle {
  font-size: 10px;
  color: red;
  font-family: "Sarina";
}

.releaseCardCatalogNumber {
  font-size: 12px;
  font-family: "Droid Sans";
}

.releaseCardDate {
  font-size: 08px;
  font-family: "Sarina";
}
