.releasePageContainer {
  width: 100%;
  max-width: 100vw; /* prevents overflow beyond viewport width */
  overflow-x: hidden; /* hides any accidental horizontal overflow */
  box-sizing: border-box; /* includes padding/border in width calculation */
  // height: 70vw;
  height: 100%;
  padding-top: 7.2rem;
  overflow-x: auto; /* enables horizontal scroll */
  scrollbar-width: thick; /* Firefox */
  scrollbar-color: #86f10b transparent;
  -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Edge, Safari */
.releasePageContainer::-webkit-scrollbar {
  width: 10px; /* or 1px if you want it ultra-thin */
}

.releasePageContainer::-webkit-scrollbar-track {
  background: transparent;
  width: 100px;
}

.releasePageContainer::-webkit-scrollbar-thumb {
  //background-color: #ff0000; /* or any subtle color */
  border-radius: 0px;
}

.releaseContainer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 100%;
  //   max-height:67vh;
  //   scrollbar-width: thin;
  //   scrollbar-color:yellow;
  //   overflow-y:auto;
}

.releaseCoverContainer {
  display: flex;
  grid-row: 1/6;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-content: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.releasePageCover {
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
}

.releaseInformationAndTracks {
  grid-column-start: 3;
  grid-column-end: 6;
  padding-left: 1rem;
}

.releaseTitle {
  font-family: "Tilt Neon";
  font-size: 5rem;
}

.releaseDetailContainer {
  display: inline-flex;
  font-family: "Play";
}
.releaseCatalogNumber {
  padding: 2px;
}

.releaseReleaseDate {
  padding: 2px;
}

.releaseNotes {
  font-size: 10px;
}
