.releaseCardBannerImage {
  height: 100px;
  margin-bottom:-4px;
  :hover {
    cursor: pointer;
  }
}

.releaseCardBannerTitle {
  font-size: 10px;
}

.releaseCardBanner {
  :hover {
    cursor: pointer;
  }
}
