.releaseContainer {
}

.releaseCover {
  height: 400px;
  width: 400px;
}

.releaseTitle {
  font-family: "Tilt Neon";
  font-size: 5rem;
}

.releaseDetailContainer {
  display: inline-flex;
  font-family: "Play";
}
.releaseCatalogNumber {
  padding: 2px;
}

.releaseReleaseDate {
  padding: 2px;
}

.releaseNotes {
  font-size: 10px;
}
